---
title: Error 404
layout: base-layout.njk
permalink: /404.html
---

<h2>Whoops...<br />We are lost :(</h2>
<div class="centered-button">
  <a href="{{ '/' | url }}" class="main-button">Home</a>
</div>
