---
layout: base-layout.njk
styles: event-layout.css
poc:
links:
prizes:
---
<div class="prize-container">
  {% if prizes %}
    <h3>Prize Pool: {{ prizes[0].pool }}</h3>
  {% endif %}
</div>

<div class="banner-image">
  <img class = "selected-image1" src="{{ image | url }}" />
  <center>
      <p>
        {{ prizes[0].positions[0].position }}: {{ prizes[0].positions[0].amount }}
        <br >
        {{ prizes[0].positions[1].position }}: {{ prizes[0].positions[1].amount }}
        <br >
        {{ prizes[0].positions[2].position }}: {{ prizes[0].positions[2].amount }}
    </p>
      </center>
</div>


<div class="banner-content">
  {{ content | safe }}
</div>

<div class="contact-container">
  {% if poc %}
    <h3>Contact Details</h3>
    <h4>For any queries contact:</h4>
    <p>
      {% for contact in poc %} 
        <i class="fas fa-envelope"></i>
        {{ contact.name }}: <a target="_blank" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        <br >
      {% endfor %}
    </p>
  {% endif %}
</div>

<div class="buttoncontainer">
  {% if links %}
    {% for link in links %}
      <a class="main-button" href="{{ link.link | url }}">{{ link.name }}</a>
    {% endfor %}
  {% endif %}
</div>
