<footer>
  <div class="navigation">
    <a href="{{ '/contact/' | url }}">Contact</a>
    <a href="{{ site.registerLink | url }}">Register</a>
  </div>
  COPYRIGHT &copy; CHIMERA {{ site.year }}. ALL RIGHTS RESERVED.<br />
  IEEE Ashoka Student Branch
  <div class="socials">
    <a href="{{ contact.instagram.link }}" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="{{ contact.twitter.link }}" target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
  </div>
</footer>