<header>
  <nav>
    <div class="title">
      <a href="{{ '/' | url }}"><div class="glitch" data-text="CHIMERA {{ site.year }}">CHIMERA</div></a>
    </div>
    
    <div class="nav-links">
      <a href="{{ '/about/' | url }}"
        class="{% if title and title.toLowerCase() == 'about' %}active{% endif %}">
        about
      </a>
      <a href="{{ '/events/' | url }}" 
        class="{% if title and title.toLowerCase() == 'events' %}active{% endif %}">
        events
      </a>
                <a href="{{ '/team/' | url }}" 
        class="{% if title and title.toLowerCase() == 'team' %}active{% endif %}">
        team
      </a> 
    <a href="{{ '/faq/' | url }}" 
        class="{% if title and title.toLowerCase() == 'faq' %}active{% endif %}">
        faq
      </a> 

      <a class="button" href="{{ '/assets/downloads/brochure.pdf' | url }}" target="_blank">Brochure</a>
      <a class="button-small" href="{{ '/assets/downloads/brochure.pdf' | url }}" target="_blank"><i class="fas fa-flask"></i></a>
    </div>
  </nav>
</header>
