<header>
  <nav>
    <div class="title">
      <a href="{{ '/' | url }}"> <div class="glitch"><img src = "/assets/images/favicon.png", width = "100px"></div></a>
    </div>
    
    <div class="nav-links">
      <a href="{{ '/about/' | url }}"
        class="{% if title and title.toLowerCase() == 'about' %}active{% endif %}">
        about
      </a>
      <a href="{{ '/events/' | url }}" 
        class="{% if title and title.toLowerCase() == 'events' %}active{% endif %}">
        competitions
      </a>
            <a href="{{ '/talks/' | url }}" 
        class="{% if title and title.toLowerCase() == 'talks' %}active{% endif %}">
        speakers
      </a>
                <a href="{{ '/team/' | url }}" 
        class="{% if title and title.toLowerCase() == 'team' %}active{% endif %}">
        team
      </a> 
    <a href="{{ '/faq/' | url }}" 
        class="{% if title and title.toLowerCase() == 'faq' %}active{% endif %}">
        faq
      </a> 
    <a href="{{ '/contact/' | url }}" 
        class="{% if title and title.toLowerCase() == 'contact' %}active{% endif %}">
        contact us
      </a> 
      <a class="button" href="{{ site.registerLink | url }}" target="_blank">Register</a>
      <a class="button-small" href="{{ site.registerLink | url }}" target="_blank">Register</a>
    </div>
  </nav>
</header>
