---
layout: base-layout.njk
title: About
tags: page
permalink: /about/
---


<p>IEEE Ashoka is proud to announce Chimera, an inter-university celebration of excellence in STEM research and innovation.</p>

<h2>What is it?</h2>

<p>Our objective is to showcase the work of our university's students across STEM fields while providing a vibrant platform for networking and an enjoyable weekend-long experience for all visitors.</p>
<p>Attendees will have the opportunity to engage with professionals and industry leaders through enlightening talks and interactive workshops, gaining valuable insights into cutting-edge developments in the field.</p>
<p>We will have multiple high-stakes competitions with prize money over 2 lakhs, designed to foster hands-on problem-solving skills. Additionally, students will get the chance to showcase their ongoing research projects through presentations and exhibitions.</p>

<h2>When is it?</h2>

<p>{{ site.month }} {{ site.day1 }}, {{ site.year }} - {{ site.month }} {{ site.day2 }}, {{ site.year }}</p>

<h2>Where is it?</h2>

<p>{{ contact.coordinates }}<br /><br />  
{{ contact.address }}  <br /><br />
Get directions on <a href="{{ contact.google_location }}" target="_blank">Google Maps</a></p>

<h3>For Event details:</h3>

<p>See the <a href="{{ '/events/' | url }}" target="_blank">events</a> page.</p>

<h3>To know about Chimera and its team:</h3>

<p>See the <a href="{{ '/team/' | url }}" target="_blank">team</a> page.</p>

<h3>Follow us</h3>:

<p>Join us on our <a href="{{ contact.twitter.link }}" target="_blank">Twitter</a> or Follow us on <a href="{{ contact.instagram.link }}" target="_blank" rel="noopener">Instagram</a>.</p>
