---
layout: base-layout.njk
title: Contact Us
styles: contact.css
tags: ["page"]
permalink: /contact/
---
<div class="contact">
    <div>
        <p>For general queries, feel free to reach us:</p>
        <a class="main-button" target="_blank" href="{{ contact.twitter.link }}"><i class = "fab fa-twitter"> </i> Twitter</a> <br>
        <a class="main-button" target="_blank" href="{{ contact.instagram.link }}"><i class = "fab fa-instagram"> </i> Instagram</a>
    </div>

    <div>
        <p>You can also send us an email at:</p>
        <a class="main-button" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </div>

    <div>
        <h3>We are located at:</h3>
        <p>{{ contact.address }}</p>
        <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3491.361899736464!2d77.0988737764922!3d28.946988575494473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390dae77eed4d41f%3A0x78a0bc68e5af467!2sAshoka%20University!5e0!3m2!1sen!2sin!4v1710439684846!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <br>
        <a class="main-button" target="_blank" href="{{ contact.google_location }}">Get Directions</a>
    </div>
</div>