---
layout: base-layout.njk
title: Contact Us
styles: contact.css
tags: ["page"]
permalink: /contact/
---
<div class="contact">
    <div>
        <p>For general queries, feel free to reach us:</p>
        <a class="main-button" target="_blank" href="{{ contact.twitter.link }}">{{ contact.twitter.name }}</a><br/><br/>
        <a class="main-button" target="_blank" href="{{ contact.instagram.link }}">{{ contact.instagram.name }}</a>
    </div>

    <div>
        <p>You can also send us an email at:</p>
        <a class="main-button" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </div>

    <div>
        <h3>We are located at:</h3>
        <p>{{ contact.address }}</p>
        <a class="main-button" target="_blank" href="{{ contact.google_location }}">Get Directions</a>
    </div>
</div>