---
layout: base-layout.njk
title: FAQ
permalink: /faq/
---
<ol>
    <li>
        <h3>What is Chimera?</h3>
        <blockquote>
            To know more about it, please visit our <a href="{{ '/about/' | url }}">about</a> page.
        </blockquote>
    </li>
</ol>
