---
layout: base-layout.njk
title: FAQ
permalink: /faq/
---
<ol>
    <li>
        <h3>What is Chimera?</h3>
        <blockquote>
            Chimera is Ashoka University's innaugral inter-university STEM Festival. The fest is organised by the <a href="https://edu.ieee.org/in-ashoka/">IEEE Ashoka Student Branch</a>
            To learn more about Chimera, you can check our <a href="{{ '/about/' | url }}">about</a> page. The event will take place on <b>30 and 31 March, 2024</b>.
        </blockquote>
    </li>

    <li>
        <h3>Is the event online or offline?</h3>
        <blockquote>
            Chimera 2024 is an offline event, and will be held at Ashoka University, Sonepat, Haryana.
            Get directions on <a href="https://maps.app.goo.gl/SHM4HWeyi5LRiyNT9" target="_blank">Google Maps</a>.<br />
        </blockquote>
    </li>

    <li>
        <h3>Will we provide transportation and accomodation?</h3>
        <blockquote>
            We will be providing transportation in the form of shuttles scheduled from the Jahangirpuri Metro Station to Ashoka University campus.
            We will not be providing accomodation for our guests for free. However, you may reach out to us for assistance in finding accomodation nearby.
    <li>
        <h3>I am not a STEM student, can I still participate?</h3>
        <blockquote>
            Ofcourse! Although the event is primarily focused on STEM, all our events are open to all university students, regardless of their background.
        </blockquote>
    </li>

    <li>
      <h3>What is the participation cost?</h3>
      <blockquote>
          Nothing! Registration for our competitions are completely free! You get to win prizes upto 50k INR without paying any registration fees?! That sounds like a deal of a lifetime to us. What are you waiting for? <a href="https://www.townscript.com/e/chimera-2024">Register Now!</a>
      </blockquote>
    </li>

    <li>    
      <h3>Do I need a team for the competitions, or can I participate individually?</h3>
      <blockquote>
        Chimera has a range of competitions with varying team size requirements. Visit the specific <a href="{{ '/events/' | url }}"> competitions pages </a> to know more about team sizes. 
      </blockquote>
    </li>

    <li>
        <h3>I have a question that was not answered here. What do I do?</h3>
        <blockquote>
            You can drop your queries at <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>.<br />
            We have also provided event specific details and contacts on their respective pages.
        </blockquote>
    </li>
</ol>
