---
layout: base-layout.njk
title: Raffle
tags: page
permalink: /raffle/
---
    <h2>Chimera Raffle</h2>
    <h4>Chance to win 20k INR</h4>
    <p>A little short on money before the summer break? Here is your chance to win big! All Chimera Attendees will be registered into our 20k INR Raffle! <b> 10 lucky winners will win 2k INR each! </b> The more Chimera events you attend, the higher your chances of winning the raffle! <br> <br > How can participants register for the raffle?
    <ul>
        <li>Register for events<a href - "https://chimera-ashoka.in/">here </a></li>
        <li>Registered participants can collect a raffle ticket card at the opening ceremony of Chimera 2024 on March 30</li>
        <li>For all events that they take part in during March 30-31, participants will be awarded unique, event-specific stamps on the ticket card</li>
        <li>At the closing ceremony, participants can submit their raffle tickets with stamps and the 10 raffle winners will be declared soon after!</li>
    </ul>
</p>

<p> Remember: <b> 1 stamp = 1 entry </b> (the more Chimera events you take part in, the greater your chances of winning the raffle!)</p>
