---
layout: base-layout.njk
title: Register
tags: page
permalink: /register/
---
<div class="banner">
    <div class="banner-content">
        <!--<h2 class="banner-title">Registrations Closed!</h2>
        <p>Chimera {{ site.year }} registrations are now closed. See you next year.</p>-->

        <h2 class="banner-title">Download the Chimera 2024 App!</h2>
        <p>Register for the events and keep track of them through the Chimera {{ site.year }} app.</p>
        <div class="buttoncontainer">
        <a class="main-button" target="_blank" href="{{ site.appDownloadLink | url }}">Download</a>
        </div>
    </div>
</div>