---
layout: base-layout.njk
title: Register
tags: page
permalink: /register/
---
<div class="banner">
    <div class="banner-content">
        <!--<h2 class="banner-title">Registrations Open!</h2>
        <p>Chimera {{ site.year }} Register now!.</p>-->
        </div>
    </div>
</div>