---
layout: base-layout.njk
title: Sponsors
styles: sponsors.css
tags: ["page"]
permalink: /sponsors/
---

<h2>Thanks for your support!</h2>

<div class="sponsors-data">
{% for item in sponsors %}
  <div class="sponsor-title">
    <span>{{ item.title }}</span>
  </div>
  <div class="sponsors-wrapper">
    {% for sponsor in item.sponsors %} 
      <img class="sponsor-img" src="{{ '/assets/images/sponsors/' | url }}{{ sponsor.image }}" alt="{{ sponsor.name }}" /> 
    {% endfor %}
  </div>
{% endfor %}
</div>
