---
layout: base-layout.njk
title: "Our Team"
styles: team.css
tags: ["page"]
permalink: /team/
---

<p>Meet the people behind the scenes</p>

{% for team in teams %}
  <h2>{{ team.title }}</h2>
  <div class="team">
    {% for person in team.people %}
      <div class="person">
        <img class="avatar" src="{{ '/assets/images/people/' | url }}{{ person.image }}" alt="{{ person.name }}" />
        <span class="name">{{ person.name }}</span>
        {% if (person.designation) %}
          <span class="designation">{{ person.designation }}</span>
        {% endif %} 
      </div>
    {% endfor %}
  </div>
{% endfor %}
